* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  margin: 100px 50px 50px 50px;
  font-family: sans-serif;
}

#area {
  width: 300px;
  margin: 0 auto;
  font-size: 0;

}

.cell {
  width: 98px;
  height: 98px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
  border: solid 1px black;
}

.cell:hover {
  background-color: #f1f1f1;
}

.currentPlayer {
  width: 140px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.stat {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.stat table {
  border-collapse: collapse;
}

.stat table,
.stat th,
.stat td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}
